<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homestyle.css') }}" >
    </head>
    <body>
        <script type="text/javascript">
    // Set the cursor ASAP to "Wait"
    document.body.style.cursor='wait';

    // When the window has finished loading, set it back to default...
    window.onload=function(){document.body.style.cursor='default';}
</script>
        <div class="entry">
            <h1>Invoices have been created</h1>
        </div>

        <div class="link">
            <h2><a href="/">Return back to home page</a></h2>
        </div>
        
    </body>
</html>